!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= title
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    /[if lt IE 8] <haml:loud> stylesheet_link_tag 'blueprint/ie' </haml:loud>
    = stylesheet_link_tag 'custom', :media => 'screen'
  %body
    .container
      #header
        = image_tag("logo.png", :alt => "Sample App", :class => "round")
        %ul.navigation.round
          %li= link_to "Home", '#'
          %li= link_to "Help", '#'
          %li= link_to "Sign in", '#'
      #content.round
        = yield