!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
%head
  %title= title
  = render 'layouts/stylesheets'
%body
  .container
    = render 'layouts/header'
    #content.round
      = yield
    = render 'layouts/footer'